In [18]:
import pandas as pd

In [32]:
pd.reset_option('max_columns')
pd.reset_option('max_rows')

In [33]:
df = pd.read_csv('/home/sid2018-4/Documents/M2 SID/pip2022/ProjectInterPromo/data/DONNEES_CONCAT_TLSE-LD/DATA1_COMPLET.csv')

/home/sid2018-4/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
df

,ID,TOP_FRAUDE,TOP_FRAUDE_CARTE,TOP_FRAUDE_VIREMENT,Date_debut_fraude,cp_ou_pays,SECTEUR_GESTION,INDICMAIL,INDICTEL,INDICPOR,...,mt_factu_ttc_M,mt_factu_ttc_M6,mt_reduc_ttc_M,mt_reduc_ttc_M6,mt_rist_ttc_M,mt_rist_ttc_M6,Fidelite_calcule,Flag_bq_principale,profil,localisation
0,8312v5IodTRgOR8/FWWjGEwsg==,0,0,0,01FEB2021,fìPÅæ,SECTEUR CENTRE,MAIL_OPTOUT,TEL_NEUTRE,POR_OPTOUT,...,NaN,NaN,NaN,NaN,NaN,NaN,NF,0.0,Très peu actifs,toulouse
1,831pI3Dnm1zz6NG0iCJTfcilQ==,0,0,0,01MAR2021,aLÄsb,SECTEUR EST,MAIL_OPTIN,TEL_OPTIN,POR_OPTIN,...,60.0,42.0,0.0,0.0,15.0,0.0,FI,1.0,Hyper actifs,toulouse
2,831b9S86qzWBJCaqgYOVPwWMQ==,0,0,0,01MAR2021,Z0ÎuP,SECTEUR SUD,MAIL_OPTOUT,TEL_OPTIN,POR_OPTIN,...,7.0,6.0,0.0,0.0,0.0,0.0,FI,1.0,Digital Ma Banque,toulouse
3,831tT9jw5y/rwwLEMZF7PyE8w==,0,0,0,01MAR2021,ëmzXM,SECTEUR NORD,MAIL_OPTOUT,TEL_NEUTRE,POR_OPTOUT,...,6.0,6.0,0.0,0.0,0.0,0.0,FI,1.0,Hyper actifs,toulouse
4,8317VwmuKeVaijtrz0cTWOm4A==,0,0,0,01SEP2020,å3èJ3,SECTEUR CENTRE,MAIL_OPTIN,TEL_NEUTRE,POR_OPTIN,...,41.0,13.0,0.0,0.0,9.0,0.0,FI,1.0,Hyper actifs,toulouse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849341,835mBEOByTBamgQVgQg771KDA==,1,1,0,NaN,q9åmS,SECTEUR HAUT LGDC COEUR HERAULT,MAIL_OPTIN,TEL_NEUTRE,POR_OPTIN,...,1.0,5.0,0.0,0.0,0.0,0.0,NF,1.0,Full digital,languedoc
849342,835rWBxack6OQY9AQFqyqJd5g==,1,1,0,NaN,6lçxa,SECTEUR MAUGUIO MEDITERRANEE,MAIL_OPTIN,TEL_OPTIN,POR_OPTIN,...,68.0,0.0,0.0,0.0,0.0,0.0,NF,0.0,Bienvenue,languedoc
849343,835F1MFghZuFjdn+sBHNuQaBw==,1,1,0,NaN,0késÎ,SECTEUR ALES CVN,MAIL_OPTIN,TEL_NEUTRE,POR_OPTIN,...,1.0,0.0,0.0,0.0,0.0,0.0,NF,0.0,Bienvenue,languedoc
849344,835HAiChYU6Al85Ed4c5I/urw==,1,1,0,NaN,f3QRg,SECTEUR HAUT LGDC COEUR HERAULT,MAIL_OPTIN,TEL_NEUTRE,POR_OPTIN,...,4.0,0.0,0.0,0.0,0.0,0.0,NF,0.0,Bienvenue,languedoc
849345,835g8FUcHQCK+Bn93a9y9Ko7w==,1,0,1,NaN,phIË9,SECTEUR HAUT LGDC COEUR HERAULT,MAIL_OPTOUT,TEL_NEUTRE,POR_OPTIN,...,0.0,0.0,0.0,0.0,0.0,0.0,NF,0.0,Bienvenue,languedoc

In [35]:
print(df.isna().sum())

ID                          0
TOP_FRAUDE                  0
TOP_FRAUDE_CARTE            0
TOP_FRAUDE_VIREMENT         0
Date_debut_fraude      584053
                        ...
mt_rist_ttc_M6          99908
Fidelite_calcule         3058
Flag_bq_principale       3058
profil                    150
localisation                0
Length: 288, dtype: int64

In [36]:
df.dtypes

ID                      object
TOP_FRAUDE               int64
TOP_FRAUDE_CARTE         int64
TOP_FRAUDE_VIREMENT      int64
Date_debut_fraude       object
                        ...
mt_rist_ttc_M6         float64
Fidelite_calcule        object
Flag_bq_principale     float64
profil                  object
localisation            object
Length: 288, dtype: object

In [38]:
df[['sexe_1', 'sexe_2']]

       sexe_1 sexe_2
0           M    NaN
1           M      F
2           M    NaN
3           F      M
4           F      M
...       ...    ...
849341      M    NaN
849342      M      F
849343      F    NaN
849344      M    NaN
849345      M      F

[849346 rows x 2 columns]

In [39]:
df[['contrat_travail_1', 'contrat_travail_2']]

                   contrat_travail_1             contrat_travail_2
0                            INCONNU                           NaN
1       CONTRAT A DUREE INDETERMINEE  CONTRAT A DUREE INDETERMINEE
2                            INCONNU                           NaN
3       CONTRAT A DUREE INDETERMINEE                       INCONNU
4       CONTRAT A DUREE INDETERMINEE  CONTRAT A DUREE INDETERMINEE
...                              ...                           ...
849341                       INCONNU                           NaN
849342                       INCONNU                       INCONNU
849343  CONTRAT A DUREE INDETERMINEE                           NaN
849344                       INCONNU                           NaN
849345    CONTRAT A DUREE DETERMINEE    CONTRAT A DUREE DETERMINEE

[849346 rows x 2 columns]